In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import seaborn as sns

Exploratory Data Analysis (EDA)
###### This is the initial phase where I explore my dataset, visualize data, calculate statistics, and uncover patterns, anomalies, and potential issues. It's focused on understanding the data, not on preparing it for analysis. EDA helps me decide how to proceed with data preprocessing

1. Data summary

In [12]:
file_path = "Bank_Mkt_campaign.csv"
data_df = pd.read_csv(file_path)
data_df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

2. Visualize data

In [20]:
from ydata_profiling import ProfileReport
slice_data_df = data_df.iloc[:, :10]
report = ProfileReport(data_df, title='My Data', minimal=True)
report.to_file("my_report.html")

c:\Users\Riccardo\miniconda3\envs\stat\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
Summarize dataset: 100%|██████████| 23/23 [00:01<00:00, 15.09it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:12<00:00, 12.48s/it]
Render HTML: 100%|██████████| 1/1 [00:01<00:00,  1.54s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 166.76it/s]

Data Preprocessing

###### After completing EDA and gaining insights about the dataset, I move on to the data preprocessing phase. In this phase, I address the issues identified during EDA, such as handling missing values, cleaning the data, encoding categorical variables, standardizing data, and more. The goal is to prepare the data for further analysis or modeling

In [18]:
corrupt_values = ["NA", "N/A", "-", "NaN", "missing", "na", "?"]
data_df = pd.read_csv('Bank_Mkt_campaign.csv', na_values=corrupt_values)
missing_values = data_df.isnull().sum()
data_df = data_df.fillna(np.nan)
data_df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no